.block {
  margin-top: 30px;
}

.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.closeMenu {
  margin-top: 9px;
  .links {
    flex-direction: column;
  }
  .link {
    margin-bottom: 24px;
  }
}
