.list {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-left: 56px;
  border-radius: 0 25px 25px 0;
  .icon {
    max-width: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  &:hover {
    background: linear-gradient(
      89.96deg,
      rgba(248, 173, 41, 0.04) 0.05%,
      rgba(228, 125, 34, 0.1) 108.66%
    );
    color: var(--white);
  }
}
