.container {
  margin-top: -5px;
}
.block {
  padding: 30px 30px 50px;
  text-align: center;
  background-image: url(../../assets/images/faq/block-background.png);
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}

.title {
  margin-top: 10px;
}

.blocks {
  background: #121212;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 20px;
}
