.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4px;
}

.block {
  margin-bottom: 20px;
  position: relative;
}

.description {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 38px;
  height: 38px;
  background: #272727;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in;
}

.show {
  opacity: 1;
  pointer-events: all;
}
