.menu {
  padding: 34px 25px 50px 56px;
  background: #121212;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.logo {
  max-width: 202px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // padding-left: 55px;
  transition: all 0.3s ease-in;
}

.list {
  margin-top: 38px;
  margin-bottom: 16px;
}

.line {
  background: #191919;
  height: 2px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.block {
  // padding-left: 55px;
  padding-top: 29px;
  margin-bottom: 30px;
  // transition: all 0.3s ease-in;
}

.language {
  margin-bottom: 20px;
}

.button {
  position: absolute;
  background: #2e2e2e;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  top: 10px;
  right: -15px;
  cursor: pointer;
  z-index: 2;
}

.buttonLine {
  position: absolute;
  width: 10px;
  left: calc(50% - 5px);
  height: 1px;
  background: #ffffff;
  border-radius: 3px;
  display: inline-block;
  transition: all 0.25s ease-in;
  &1 {
    top: 10px;
  }
  &2 {
    top: 14px;
  }
  &3 {
    top: 18px;
  }
}

.closeMenu {
  width: 100%;
  padding-left: 25px;
  .menuWrapper {
    max-width: 60px;
  }
  .buttonLine {
    &1 {
      transform: rotate(45deg);
      top: 50%;
    }
    &2 {
      opacity: 0;
    }
    &3 {
      transform: rotate(-45deg);
      top: 50%;
    }
  }
  .logo {
    padding-left: 38px;
    padding-left: 0;
    justify-content: center;
  }
  .block {
    padding-top: 25px;
    padding-left: 0;
    padding-bottom: 24px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line {
    width: 100%;
  }
}
