@import './reset.css';
@import './var';

:root {
  --white: #ffffff;
  --black: #121212;
  --darkGrey: #1a1a1a;
  --grey: #262626;
  --borderGrey: #323232;
  --greyBackground: #393939;
}

.whiteMode {
  --white: #121212;
  --black: #ffffff;
  --darkGrey: #ffffff;

  *::-webkit-scrollbar-track {
    background: rgba(#111111, 0.2);
    box-shadow: none;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(#111111, 0.7);
    border-radius: 2.5px;
  }
}

body {
  background: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
}

img {
  max-width: 100%;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
