@import './reset.css';
@import './var';

body {
  background: #1a1a1a;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
}

img {
  max-width: 100%;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
