@import './reset.css';
@import './var';

body {
  background: #000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
}

img {
  max-width: 100%;
  display: inline-block;
}
