@import '../SignIn/signIn.module.scss';

.button {
  max-width: 236px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.back {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin-bottom: 34px;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  &:hover {
    color: #f8ad29;
    path {
      stroke: #f8ad29;
    }
  }
}

.text {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 25px;
}
.description {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  max-width: 273px;
  width: 100%;
  margin: 10px auto 0;
}

.mail {
  margin-top: 30px;
  .button {
    max-width: 182px;
    margin: 30px auto 0;
  }
}

.mailIcon {
  max-width: 50px;
  margin: 0 auto;
}
