.rotate {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 25px;
}

.desktop-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 40px 10px 15px;
}

.select {
  background: transparent;
  border: 1px solid var(--borderGrey);
  border-radius: 20px;
  width: 100%;
  margin-left: auto;
  position: relative;
  transition: all 0.1s ease-in;
}

.grey {
  background: var(--greyBackground);
  border-color: transparent;
  border-radius: 14px;
  .desktop-title {
    padding: 14px 14px 14px 19px;
  }
  .content {
    background: var(--greyBackground);
    border-color: transparent;
  }
  .desktop-title {
    font-size: 14px;
  }
}

.greySmall {
  background: var(--greyBackground);
  border-color: transparent;
  border-radius: 41px;
  .desktop-title {
    padding: 9px 17px;
  }
  .content {
    background: var(--greyBackground);
    border-color: transparent;
  }
  .desktop-title {
    font-size: 14px;
  }
}

.content {
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  top: calc(100% + 6px);
  background: var(--greyBackground);
  border: 1px solid var(--borderGrey);
  border-top: none;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.42);
  border-radius: 15px;
  z-index: 1;
  min-width: calc(100% + 2px);
  width: max-content;
}

.mobile {
  display: none;
}

.mobile-select {
  display: none;
}

.mobile-title {
  display: none;
}

.arrow {
  max-width: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: all 0.3s ease-in;
  position: absolute;
  top: calc(50% - 5px);
  right: 20px;
}
.icon {
  max-width: 16px;
  min-width: 16px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .arrow {
    display: none;
  }
  .select {
    background: white;
    border: 2px solid gray;
    border-radius: 0;
    padding: 8px 15px;
    box-shadow: none;
  }
  .title {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: black;
    justify-content: center;
  }
  .mobile {
    display: block;
    position: absolute;
    left: 12px;
    top: 9px;
  }
  .opened {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    max-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background: white;
    padding-top: 65px;
    border: none;

    .title {
      font-size: 18px;
      line-height: 21px;
      color: black;
    }

    .mobile-title {
      font-size: 18px;
      line-height: 21px;
      color: black;
      font-weight: bold;
      justify-content: flex-start;
      width: 100%;
      margin-left: 6px;
      margin-top: 27px;
    }
  }

  .mobile-select {
    .title {
      font-weight: normal;
    }
  }

  .desktop-title {
    display: none;
  }
  .mobile-title {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: black;
  }

  .back {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    width: 44px;
    height: 44px;
    background: primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6px;
  }
  .mobile-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 0 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 2;
    padding-bottom: 10px;
  }

  .content {
    border: none;
    box-shadow: none;
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 380px) {
  .mobile {
    left: 8px;
  }
}
