.content {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  background: var(--darkGrey);
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.element1 {
  position: absolute;
  top: 0;
  left: 9%;
  pointer-events: none;
  z-index: -1;
}

.element2 {
  position: absolute;
  left: 92px;
  top: 38.5%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
}

.containerBlock {
  display: flex;
  justify-content: space-between;
  padding-right: 49px;
  overflow: hidden;
}

.menu {
  width: 260px;
  transition: all 0.3s linear;
  position: relative;
  z-index: 2;
  // flex-grow: 1;
}

.main {
  width: calc(100% - 260px);
  // padding: 0 30px;
  padding-left: 29px;
  max-width: 1090px;
  margin: 0 auto;
  transition: all 0.3s linear;
  position: relative;
  z-index: 1;
}

.closeMenu {
  .menu {
    width: 110px;
    margin-right: 20px;
  }
  .element2 {
    opacity: 1;
  }
}
