.content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-right: 49px;
  background: var(--darkGrey);
  min-height: 100vh;
}

.menu {
  width: 260px;
  width: 100%;
  // transition: all 0.3s ease-in;
  position: relative;
  z-index: 2;
  // flex-grow: 1;
}

.main {
  width: calc(100% - 260px);
  // padding: 0 30px;
  padding-left: 29px;
  max-width: 1090px;
}

.closeMenu {
  .menu {
    width: 110px;
    margin-right: 20px;
  }
  .main {
    margin: 0 auto;
  }
}
