.container {
  padding: 20px 0 30px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocks {
  margin-top: 15px;
}

.block {
  border-radius: 20px;
  overflow: hidden;
}
