@import '../../../styles/var';

.options {
  text-align: left;
  position: relative;
  z-index: 1;
  background: var(--greyBackground);
  // padding: 14px 0;
}

.option {
  font-size: 12px;
  line-height: 20px;
  padding: 8px 15px;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    background: gray;
  }
}

.selected {
  background: gray;
}

@media screen and (max-width: 767px) {
  .option {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 15px;
  }
  .options {
    padding: 17px 9px;
  }
}
