@import '../../../styles/var';

.options {
  text-align: left;
  position: relative;
  z-index: 1;
  padding: 4px;
}

.option {
  font-size: 12px;
  line-height: 20px;
  padding: 4px 23px 4px 10px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: rgba(#ffffff, 0.6);
  border: 1px solid transparent;
  border-radius: 25px;
  position: relative;
  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    border-color: rgba(#f5a528, 0.6);
  }
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: 9px;
    top: calc(50% - 6px);
    background: rgba(#f5a528, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
  }
  &:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    right: calc(9px + 3px);
    top: calc(50% - 3px);
    background: #f5a528;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
  }
}

.selected {
  border-color: rgba(#f5a528, 0.6);
  color: #ffffff;
  &:after,
  &:before {
    opacity: 1;
  }
}

.icon {
  max-width: 16px;
  min-width: 16px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .option {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 15px;
  }
  .options {
    padding: 17px 9px;
  }
}
