.container {
  background: #121212;
  border-radius: 20px;
  padding: 20px 30px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.active {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #50bf62;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.date {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
