.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  z-index: 2;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.login {
  border: 2px solid var(--white);
  border-radius: 28px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white);
  padding: 13px 28px;
  cursor: pointer;
}

.registration {
  background: conic-gradient(
    from 0deg at 50% 50%,
    #f8ad29 0deg,
    #e47d22 360deg
  );
  border-radius: 28px;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #190224;
  margin-left: 20px;
  cursor: pointer;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 36px;
  cursor: pointer;
  max-width: 24px;
  min-width: 24px;
  width: 100%;
  position: relative;
}

.helpNew:after {
  content: '';
  background: #ea4949;
  border: 3px solid #191919;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  position: absolute;
  top: -2px;
  right: -4px;
}

.search {
  margin-right: 20px;
  flex-grow: 1;
  width: 100%;
  position: relative;
  z-index: 10;
}
