.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262626;
  border-radius: 40px;
  padding: 8px 15px;
}

.input {
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 100%;
  margin: 0 15px;
}

.ava {
  cursor: pointer;
}

.send {
  cursor: pointer;
}
