.search {
  position: relative;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#000000, 0.7);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in;
    pointer-events: none;
  }
}

.active {
  &:after {
    opacity: 1;
  }
}
