.banner {
  position: relative;
  padding: 30px;
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.controlles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}
