@import '../SignIn/signIn.module.scss';

.optional {
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
    margin-left: 10px;
    path {
      stroke: rgba(255, 255, 255, 0.6);
    }
  }
}

.rotate {
  transform: rotate(-180deg);
}
